@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    font-family: 'Roboto', sans-serif;
    background-color: #E2E1DD;
}

.cabecalho {
    width: 100%;
    padding: 20px 80px 0 80px;
    height: 120px;
    background-color: #FFFFFF;
    border-bottom: 10px solid #face0b;

}

/* ........................... */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    font-weight: 700;
    color: #363335;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.topnav a:hover {
    color: #000000;
}

.topnav .nav-icon {
    display: none;
}

@media screen and (max-width: 850px) {
    .topnav .nav-item:not(:first-child) {
        display: none;
    }
    .topnav li.nav-icon {
        float: right;
        display: block;
    }
}
@media screen and (max-widht: 850px) {
    .topnav.responsive {
        position: relative;
    }   
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #353535;
    stroke-width: 4;
    stroke-linecap: round;
}

.ham5 .top {
    stroke-dasharray: 40 82;
}

.ham5 .bottom {
    stroke-dasharray: 40 82;
}

.ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

.active .line {
    stroke: #353535;
}

.ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}


/* ........................... */

.logo {
    width: 130px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.caixa-principal {
    background-color: #353535;
    padding: 25px 0;
}

.fundo-produtos {
    background-image: url("../img/bg-2.png");
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.caixa-produtos {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.card {
    width: 15rem;
    margin: 20% 0;
    background-color: #505050;
    border: none;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border: 1px solid #353535;
    background-color: #353535;
    color: white;
}

.fundo-marcas {
    padding: 20px;
}

.caixa-marcas {
    border-top: 10px solid #face0b;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
}

.marcas {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 1rem;
}

.marca:hover {
    scale: 1.1;
}

.titulo-marcas {
    font-weight: 700;
}

.oculto {
    display: none;
}

.btn-dark {
    width: 300px;
}

.caixa-btn-drop {
    margin-top: 40px;
}
/* .nav-link {
    font-weight: 700;
    color: ;
}

.container-principal {
    background-color: #353535;
    padding: 10px 60px;
}

.carousel-item {
    display: flex;
}

.btn-principal {
    text-decoration: none;
    color: white;
} */
