@media screen and (max-width: 1200px) {
    .card {
        width: 13rem;
    }
}

@media screen and (max-width: 990px) {
    .card {
        width: 10rem;
    }
}

@media screen and (max-width: 850px) {
    .topnav .nav-item:not(:first-child) {
        display: none;
    }
    .topnav li.nav-icon {
        display: block;
    }

    .caixa-produtos {
        padding: 10% 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .card {
        width: 18rem;
    }
}

@media screen and (max-width: 768px) {

    .card {
        width: 16rem;
    }
}

@media screen and (max-width: 766px) {

    .card {
        width: 14rem;
    }
}

@media screen and (max-width:550px) {
    .caixa-produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 20rem;
    }
}

@media screen and (max-width: 410px) {
    .card {
        width: 15rem;
    }
}

@media screen and (max-width: 305px) {
    .card {
        width: 10rem;
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #353535;
    stroke-width: 4;
    stroke-linecap: round;
    
}

.ham5 .top {
    stroke-dasharray: 40 82;
}

.ham5 .bottom {
    stroke-dasharray: 40 82;
}

.ham5.active .top {
    stroke-dashoffset: -72px;
}

.active .line {
    stroke: #353535;
}

.ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

.dropdown-menu {
    width: 100%;

}
